<% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
  <% if alert %>
    <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% else %>
    <div style="margin-top: 30px;">&nbsp</div>
  <% end %>
  
<div class="container">
    <p style="font-family: Nanum Pen Script; font-size: 100px; margin-top: 20px;" align="center">해마리아</p>
    <hr width="100px;" style="margin-top: -40px;"/>
    <p style="margin-bottom: -10px;"><center>haemaria</center></p>
</div>

    <div class="hidden-xs-down" style="background: url('/img/main_haemaria.png') no-repeat center center/cover scroll; background-size: 100% 100%; padding-top: 400px;"></div>
    <div class="hidden-sm-up" style="background: url('/img/main_haemaria.png') no-repeat center center/cover scroll; background-size: 100% 100%; padding-top: 150px; margin-top: 50px;"></div>

<div class="container">     
    <div style="margin-top: 30px;"></div>
    <div class="col-12 col-sm-10 col-md-10">
    <font class="hidden-xs-down" size="10px;" style="font-weight: bold">소개</font>
    <font class="hidden-sm-up" size="6px;" style="font-weight: bold">소개</font>
    <hr width="150px;" align="left" style="border: none; border-bottom: 2px solid grey; margin-top: -1px;"/>
    <ul>
        <li>자주색이 살짝 섞인 우아한 블랙컬러가 인상적인 해마리아입니다.</li>
        <li>성장 속도가 느린편이며 깔끔하고 단촐한 스타일로 기르기 좋습니다.</li>
        <li>잎줄기 가운데 봉우리에서 정말 예쁜 꽃이 자랍니다.</li>
    </ul>
    </div>

    <div style="margin-top: 50px;"></div>
    <div align="right">
        <font class="hidden-xs-down" size="10px;" style="font-weight: bold"><i class="fa fa-tint" aria-hidden="true"></i> 물 줘야 하는 시기 <hr width="450px;" align="right" style="border: none; border-bottom: 2px solid grey; margin-top: -1px;"/></font>
        <font class="hidden-sm-up" size="6px;" style="font-weight: bold"><i class="fa fa-tint" aria-hidden="true"></i> 물 줘야 하는 시기 <hr width="280px;" align="right" style="border: none; border-bottom: 2px solid grey; margin-top: -1px;"/></font>
    <ul>
        <li>해마리아는 뿌리와 줄기 안쪽에 수분을 많이 포함하고 있기 때문에</li>
        <li>물을 자주 주면 뿌리가 썩을수가 있습니다.</li>
        <li>물은 흙이 충분히 말랐을 때 촉촉히 젖을만큼의 물을 주면 됩니다.</li>
    </ul> 
    </div>
    <div style="margin-top: 100px;"></div>
</div>